@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
* {
   outline: none;
   box-sizing: border-box;
}

html {
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
}

img {
   max-width: 100%;
}

:root {
   --body-font: "Inter", sans-serif;
   --theme-bg: #1d1b24;
   --body-color: #808191;
   --button-bg: #353340;
   --border-color: rgb(128 129 145 / 24%);
   --product-bg: #252936;
}

body {
   font-family: var(--body-font);
   color: var(--body-color);
   background-color: var(--theme-bg);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
}
.container-fluid {
   background-color: var(--theme-bg);
   display: flex;
   overflow: hidden;
   width: 100%;
   font-size: 15px;
   font-weight: 500;
}
.container {
   background-color: var(--theme-bg);
   display: flex;
   overflow: hidden;
   width: 100%;
   font-size: 15px;
   font-weight: 500;
}

.sidebar {
   width: 200px;
   height: 100%;
   padding: 30px;
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   transition-duration: 0.2s;
   overflow-y: auto;
   overflow-x: hidden;
   overflow: scroll;
}

.sidebar-link:hover,
.sidebar-link.is-active {
   color: #fff;
   font-weight: 600;
}
.sidebar-link:hover:nth-child(2n + 1) svg,
.sidebar-link.is-active:nth-child(2n + 1) svg {
   background: #32a7e2;
}
.sidebar-link:hover:nth-child(2n) svg,
.sidebar-link.is-active:nth-child(2n) svg {
   background: #ff7551;
}
.sidebar-link:hover:nth-child(2n + 3) svg,
.sidebar-link.is-active:nth-child(2n + 3) svg {
   background: #6c5ecf;
}

@-webkit-keyframes bottom {
   0% {
      transform: translateY(100px);
      opacity: 0;
   }
   100% {
      opacity: 1;
      transform: none;
   }
}

.side-menu {
   display: flex;
   flex-direction: column;
}
.side-menu a {
   display: flex;
   align-items: center;
   text-decoration: none;
   color: var(--body-color);
}
.side-menu a + a {
   margin-top: 26px;
}
.side-menu svg {
   width: 30px;
   padding: 8px;
   border-radius: 10px;
   background-color: var(--button-bg);
   flex-shrink: 0;
   margin-right: 16px;
}
.side-menu svg:hover {
   color: #fff;
}

.side-title {
   font-size: 12px;
   letter-spacing: 0.07em;
   margin-bottom: 24px;
}

.side-wrapper {
   border-bottom: 1px solid var(--border-color);
   padding: 36px 0;
   width: 145px;
}
.side-wrapper + .side-wrapper {
   border-bottom: none;
}

.wrapper {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.header {
   display: flex;
   align-items: center;
   flex-shrink: 0;
   padding: 30px;
}

.search-bar {
   height: 43px;
   display: flex;
   width: 100%;
   max-width: 850px;
}
.search-bar input {
   width: 100%;
   height: 100%;
   border: none;
   background-color: var(--button-bg);
   border-radius: 8px;
   font-family: var(--body-font);
   font-size: 15px;
   font-weight: 500;
   padding: 0 40px 0 16px;
   box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
   background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
   background-size: 14px;
   background-repeat: no-repeat;
   background-position: 96%;
   color: #fff;
}

.user-settings {
   display: flex;
   align-items: center;
   padding-left: 20px;
   flex-shrink: 0;
   margin-left: auto;
}
.user-settings svg {
   width: 10px;
   flex-shrink: 0;
}

.user-settings .notify {
   position: relative;
}
.user-settings .notify svg {
   width: 20px;
   margin-left: 24px;
   flex-shrink: 0;
}
.user-settings .notify .notification {
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color: #ec5252;
   position: absolute;
   right: 1px;
   border: 1px solid var(--theme-bg);
   top: -2px;
}

.user-img {
   width: 30px;
   height: 30px;
   flex-shrink: 0;
   -o-object-fit: cover;
   object-fit: cover;
   border-radius: 50%;
}
.user-name {
   color: #fff;
   font-size: 14px;
   margin: 0 6px 0 12px;
}

.main-container {
   display: flex;
   flex-direction: column;
   padding: 0 30px 30px;
   flex-grow: 1;
   overflow: auto;
}

.anim {
   animation: bottom 0.8s var(--delay) both;
}

.small-header {
   font-size: 24px;
   font-weight: 500;
   color: #fff;
   margin: 30px 0 20px;
}

.products {
   display: grid;
   width: 100%;
   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 20px;
   grid-row-gap: 26px;
}

.product {
   position: relative;
   background-color: var(--product-bg);
   border-radius: 20px;
   overflow: hidden;
   transition: 0.4s;
   text-align: center;
   max-width: 100%;
   width: 100%;
   border-radius: 20px 20px 0 0;
   display: block;
   cursor: pointer;
   transition: 0.4s;
}
.product-img {
   width: 100%;
   height: 250px;
   object-fit: cover;
   z-index: 900 !important;
   transition: 350ms ease-in-out;
}
.product-img:hover {
   transform: scale(1.2);
   z-index: 900 !important;
}
.product-wrapper {
   position: relative;
}
.heart-img {
   width: 32px;
   height: 32px;
   border: 1px solid rgba(255, 255, 255, 0.75);
   padding: 4px;
   border-radius: 50%;
   -o-object-fit: cover;
   object-fit: cover;
}
.heart-img__wrapper {
   position: relative;
   flex-shrink: 0;
}
.heart-img__wrapper svg {
   width: 1px;
   padding: 2px;
   background-color: #fff;
   color: #0daabc;
   border-radius: 50%;
   border: 2px solid #0daabc;
   position: absolute;
   bottom: 5px;
   right: 0;
}
.product-name {
   transition: 0.3s;
   padding: 35px 20px 0px;
   display: inline-flex;
   position: relative;
}
.product-name:before {
   content: "";
   background-color: #22b07d;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   position: absolute;
   top: 42px;
   right: 5px;
}
.product-rating {
   font-size: 12px;
   padding: 7px 10px 10px;
   background-color: var(--product-bg);
   position: relative;
}
.product-price {
   color: #fff;
   font-size: 16px;
   line-height: 1.4em;
   padding: 7px 20px 0;
   overflow: hidden;
   background-color: var(--product-bg);
   z-index: 9;
}
.product-details {
   font-size: 17px !important;
}
.price {
   color: rgb(214, 235, 253);
   font-size: 22px;
}

.product:hover .product-like {
   bottom: -80px;
   transform: scale(0.6);
   right: -3px;
   z-index: 10;
}

.product-like {
   position: absolute;
   right: 10px;
   transition: 0.4s;
   bottom: -25px;
}
.product-like svg {
   background-color: #0aa0f7;
   color: #fff;
   border-color: var(--product-bg);
}

::-webkit-scrollbar {
   width: 6px;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   background-color: rgba(21, 20, 26, 0.63);
   border-radius: 10px;
}
.title {
   font-size: 43px;
   font-weight: 500;
   color: #fff;
   margin: 5px 0 20px;
}

.subtitle {
   font-size: 18px;
   display: block;
   margin-bottom: 10px;
   font-family: "Lora", Georgia, serif;
   font-style: italic;
   color: #82ae46;
}

.ftco-section {
   padding: 3em 5em;
   position: relative;
}
.detailed-img {
   border-radius: 2%;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.qrcode {
   margin-bottom: 5%;
}
.qrcode input {
   width: 100%;
   height: 100%;
   border: none;
   background-color: var(--button-bg);
   border-radius: 8px;
   font-family: var(--body-font);
   font-size: 15px;
   font-weight: 500;
   padding: 0 40px 0 16px;
   box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);

   background-position: 96%;
   color: #fff;
   height: 46px;
   display: flex;
   width: 100%;
}

.details {
   font-size: 18px;
}

.heading-section {
   text-align: center !important;
}

/* --------------------------------- CALLS SECTION ---------------------------------- */

/* The container */
.container-checkbox {
   display: block;
   position: relative;
   padding-left: 35px;
   margin-bottom: 12px;
   cursor: pointer;
   user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 20px;
   width: 20px;
   background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
   background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
   background-color: #82ae46;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
   content: "";
   position: absolute;
   display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
   display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
   left: 6px;
   top: 6px;
   width: 7px;
   height: 7px;
   border: solid white;
   border-width: 0 5px 5px 0;
   transform: rotate(40deg);
}

.calls {
   padding-bottom: 5%;
}

.calls input {
   height: 50px;
}

/* ------------------RAFFLE SECTION ------------------ */
.payment__container {
   /* width: 1000px; */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 5rem 7rem;
   border-radius: 1.25rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.payment__container-tickmark {
   width: 50px !important;
}

.payment__container-heading {
   margin-bottom: 20px;
   font-size: 2rem;
   color: #fff;
}

.payment__container-welcome {
   margin-bottom: 10px;
   font-size: 1rem;
}

.payment__container-cube {
   margin-bottom: 20px;
}

.payment__container-text {
   text-align: center;

   font-weight: 400;
   margin-bottom: 20px;
}
