{% extends 'base.html' %} {% load static %} {% block content %}

<section class="ftco-section">
   <div class="container">
      <div class="row">
         <div class="col-lg-9 qrcode_details-details">
            <h1 class="title text-center"><u>{{ qrcode_details.childname }}</u></h1>
          <div class="details">  
             <div class="">
               This is {{ qrcode_details.childname }}, {{ qrcode_details.relation }} of {{qrcode_details.parent}}. The child has been missing since {{ qrcode_details.date }}</p>If found, please contact <b><a href="tel:+{{ qrcode_details.phone }}">{{ qrcode_details.phone }}</a></b>
               <p><h4 style="color:#ced4da">Alternate phone numbers </h4>
               <ul><li>+918334342232</li>
               <li>+9123324334</li></ul></p>
         </div>
         <div class="">
            <hr>
            <br><br>
            <h3 style="color:#ced4da">Address</h3>
            <p class="mr-2">{{ qrcode_details.streetaddress }}</p>
            <p>{{qrcode_details.towncity}}</p>
            <p>{{qrcode_details.postcode}}</p>
         </div>
      
      
      
      
      
   </div>





         </div>
         <div class="col-lg-3">
            <img src="https://i.pinimg.com/236x/a4/09/ba/a409bafef86390fd3abc2f6fc5cca437.jpg" alt="">
         </div>
      </div>
   </div>
</section>

{% endblock %}
