{% extends 'base.html' %} {% load static %} {% block content %}
<script src="http://maps.google.com/maps/api/js?key=AIzaSyBlo2r6CePdz0omljDt7N4cMl6AP2-udRU" type="text/javascript"></script>
<div id="map" style="width: 1200px; height: 700px"></div>

<script type="text/javascript">
   var locations = [
      ["Wing-A Block-1", 12.9291491, 77.5883756, 4],
      ["BSR Green park", 12.9295791, 77.5889756, 3],
   ];

   var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 15,
      center: new google.maps.LatLng(12.9291491, 77.5886756),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
   });

   var infowindow = new google.maps.InfoWindow();

   var marker, i;

   for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
         position: new google.maps.LatLng(locations[i][1], locations[i][2]),
         map: map,
      });

      google.maps.event.addListener(
         marker,
         "click",
         (function (marker, i) {
            return function () {
               infowindow.setContent(locations[i][0]);
               infowindow.open(map, marker);
            };
         })(marker, i)
      );
   }
</script>

{% endblock %}
