{% extends 'base.html' %} {% load static %} {% block content %}
<div class="main-container">
   <div class="payment__container">
      <br /><br /><br /><br /><br />
      <div class="row">
         <div class="col-10">
            <span> <h3 class="payment__container-heading">Payment Successful</h3></span>
         </div>
         <div class="col-2">
            <span><img class="payment__container-tickmark" src="https://res.cloudinary.com/dmnazxdav/image/upload/v1599736321/tick_hhudfj.svg" alt="Payment SuccesFul" /> </span>
         </div>
      </div>
      <h3 class="payment__container-welcome">Thank you for the purchase</h3>
      <h3 class="payment__container-cube">Your order is 1055</h3>
      <a href="https://imgbb.com/"><img src="https://i.ibb.co/92n3bc7/download-1.png" alt="download-1" border="0" /></a>
   </div>
</div>

{% endblock %}
